/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html{
  line-height:1.15;
  -webkit-text-size-adjust:100%;
}

body{
  margin:0;
}

main{
  display:block;
}

h1{
  font-size:2em;
  margin:0.67em 0;
}

hr{
  box-sizing:content-box;
  height:0;
  overflow:visible;
}

pre{
  font-family:monospace, monospace;
  font-size:1em;
}

a{
  background-color:transparent;
}

abbr[title]{
  border-bottom:none;
  text-decoration:underline;
  -webkit-text-decoration:underline dotted;
  text-decoration:underline dotted;
}

b,
strong{
  font-weight:bolder;
}

code,
kbd,
samp{
  font-family:monospace, monospace;
  font-size:1em;
}

small{
  font-size:80%;
}

sub,
sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sub{
  bottom:-0.25em;
}

sup{
  top:-0.5em;
}

img{
  border-style:none;
}

button,
input,
optgroup,
select,
textarea{
  font-family:inherit;
  font-size:100%;
  line-height:1.15;
  margin:0;
}

button,
input{
  overflow:visible;
}

button,
select{
  text-transform:none;
}

button,
[type="button"],
[type="reset"],
[type="submit"]{
  -webkit-appearance:button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
  border-style:none;
  padding:0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{
  outline:1px dotted ButtonText;
}

fieldset{
  padding:0.35em 0.75em 0.625em;
}

legend{
  box-sizing:border-box;
  color:inherit;
  display:table;
  max-width:100%;
  padding:0;
  white-space:normal;
}

progress{
  vertical-align:baseline;
}

textarea{
  overflow:auto;
}

[type="checkbox"],
[type="radio"]{
  box-sizing:border-box;
  padding:0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{
  height:auto;
}

[type="search"]{
  -webkit-appearance:textfield;
  outline-offset:-2px;
}

[type="search"]::-webkit-search-decoration{
  -webkit-appearance:none;
}

::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}

details{
  display:block;
}

summary{
  display:list-item;
}

template{
  display:none;
}

[hidden]{
  display:none;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent; }

*{
  text-decoration:none;
  list-style:none;
  box-sizing:border-box; }

body{
  font-family:"Roboto",  sans-serif;
  color:#000000; }

body.overflow{
    overflow:hidden; }

a{
  text-decoration:none;
  cursor:pointer;
  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out; }

a:hover,
a:active,
a:focus{
  text-decoration:none; }

button{
  padding:0; }

input{
  border:none;
  background-color:transparent;
  outline:none;
  -webkit-appearance:none; }

textarea{
  resize:vertical;
  border:none;
  background-color:transparent;
  outline:none;
  -webkit-appearance:none; }

button{
  cursor:pointer;
  border:none;
  background-color:transparent;
  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  outline:none;
  -webkit-appearance:none; }

select{
  cursor:pointer;
  border:none;
  background-color:transparent;
  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  outline:none;
  -webkit-appearance:none; }

.wrapper{
  width:100%;
  min-height:100vh;
  position:relative;
  overflow:hidden; }

.container{
  max-width:1560px;
  width:100%;
  margin:0 auto;
  padding:0 15px; }

.scroll-wrap::-webkit-scrollbar{
  background-color:transparent;
  width:4px; }

.scroll-wrap::-webkit-scrollbar-thumb{
  border-radius:100px;
  background-color:#c1c6cf; }

.bar-panel .btn-form{
  padding-left:12px;
  padding-right:12px;
  display:block;
  height:auto; }

.bar_info{
  margin-bottom:48px; }

.bar_select{
  margin-bottom:12px;
  position:relative;
  cursor:pointer; }

.bar_select .bar__wrap{
    padding:4px; }

.bar_select:hover .bar__drop{
    opacity:1;
    z-index:1;
    visibility:visible; }

.bar__drop{
  position:absolute;
  z-index:1;
  background:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#dcdcdc));
  background:linear-gradient(180deg, #f2f2f2 0%, #dcdcdc 100%);
  box-shadow:0px 4px 4px #b3b1b1, -2px -2px 4px rgba(219, 215, 215, 0.25);
  border-radius:20px;
  height:96px;
  width:100%;
  top:0;
  left:0;
  opacity:0;
  visibility:hidden;
  z-index:-1;
  -webkit-transition:all 0.3s ease;
  transition:all 0.3s ease; }

.bar__drop-wrap{
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-align:end;
  -webkit-align-items:flex-end;
  align-items:flex-end;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  justify-content:center;
  height:100%;
  padding-bottom:20px; }

.bar__drop-wrap .bar__text{
    margin:0 12px; }

.bar__drop-wrap .bar__text:hover{
      color:#5F9ABB; }

.bar__row{
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center;
  position:relative;
  z-index:2; }

.bar__icon{
  width:34px;
  height:34px;
  overflow:hidden;
  border-radius:50%;
  margin-right:4px; }

.bar__icon img{
    width:100%; }

.bar__row-info{
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center; }

.bar__wrap{
  background:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#dcdcdc));
  background:linear-gradient(180deg, #f2f2f2 0%, #dcdcdc 100%);
  box-shadow:0px 4px 4px #b3b1b1, -2px -2px 4px rgba(219, 215, 215, 0.25);
  border-radius:40px;
  padding:7px 22px;
  margin-bottom:3px;
  min-height:42px; }

.bar__arrow{
  display:block;
  border:4px solid transparent;
  border-top:5px solid #000;
  position:relative;
  top:2px;
  right:-5px; }

.bar__text{
  font-weight:300;
  font-size:12px;
  line-height:1.3;
  color:#000000;
  display:block; }

.bar__text_big{
    font-size:20px; }

.bar__text.center{
    text-align:center; }

.bar__text.info{
    padding-left:12px; }

.bar__text-credit{
  font-weight:500;
  font-size:14px;
  line-height:16px;
  color:#5f9abb;
  padding-top:8px;
  display:block; }

.btn-form{
  height:38px;
  padding:5px 40px;
  font-weight:500;
  font-size:24px;
  color:#ffffff;
  background-color:#D29869;
  -webkit-transition:all 0.3s ease;
  transition:all 0.3s ease;
  border-radius:10px;
  text-align:center; }

.btn-form.primary{
    box-shadow:0px 4px 4px rgba(255, 0, 0, 0.25); }

.btn-form.primary:focus, .btn-form.primary:hover{
      color:#ffffff;
      background-color:#AA7041; }

.btn-form.small{
    width:100%;
    padding:5px 20px;
    font-size:18px; }

.btn-form.secondary{
    width:100%;
    padding-left:17px;
    text-align:left;
    margin:0 0 22px; }

.btn-form.lk{
    width:100%;
    font-weight:normal;
    font-size:18px;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    line-height:1.2px;
    background:-webkit-gradient(linear, left top, left bottom, from(#60dd6c), to(#227926));
    background:linear-gradient(180deg, #60dd6c 0%, #227926 100%);
    box-shadow:0px 2px 4px #919090, -2px -2px 4px rgba(255, 255, 255, 0.25);
    border-radius:20px; }

.btn-form.lk.withdraw{
      width:50%;
      font-size:18px;
      height:59px;
      white-space:nowrap; }

.btn-form.lk.settings{
      height:22px;
      width:97px;
      font-size:13px; }

.btn-form.lk:hover{
      background:-webkit-gradient(linear, left top, left bottom, from(#44b34f), to(#17811d));
      background:linear-gradient(180deg, #44b34f 0%, #17811d 100%); }

.btn-form.lk img{
      margin-left:6px; }

.btn-form.add{
    height:auto;
    font-weight:400;
    font-size:18px;
    padding:5px 11px 6px 21px;
    background:-webkit-gradient(linear, left top, left bottom, from(#d29869), to(#a4744f));
    background:linear-gradient(180deg, #d29869 0%, #a4744f 100%);
    box-shadow:0px 2px 4px #919090, -2px -2px 4px rgba(255, 255, 255, 0.25);
    border-radius:40px;
    vertical-align:middle;
    margin-right:5px; }

.btn-form.add:hover{
      color:#ffffff;
      background-color:#AA7041; }

.btn-form.add img{
      padding-left:3px;
      max-width:18px; }

.btn-form.delete{
    font-size:13px;
    font-weight:300;
    padding:2px 17px;
    height:22px;
    background:-webkit-gradient(linear, left top, left bottom, from(#d26969), to(#e12323));
    background:linear-gradient(180deg, #d26969 0%, #e12323 100%);
    box-shadow:0px 2px 4px #919090, -2px -2px 4px rgba(255, 255, 255, 0.25);
    border-radius:40px; }

.btn-form.delete img{
      padding-left:5px;
      width:13px; }

.btn-sorter{
  padding:8px 19px;
  background:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#dcdcdc));
  background:linear-gradient(180deg, #f2f2f2 0%, #dcdcdc 100%);
  box-shadow:0px 4px 4px #b3b1b1, -2px -2px 4px rgba(219, 215, 215, 0.25);
  border-radius:40px;
  color:#686868;
  font-size:14px;
  line-height:1.2; }

.form-wrap{
  width:290px;
  margin:0 auto; }

.form-wrap .logo-wrap{
    margin-bottom:56px; }

.logo-wrap > *{
  white-space:nowrap;
  color:#000000;
  font-weight:300;
  line-height:1;
  text-shadow:4px 4px 4px rgba(255, 0, 0, 0.25); }

.logo-wrap h1{
  font-size:24px; }

.logo-wrap h2{
  font-size:14px; }

.form{
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:start;
  -webkit-align-items:flex-start;
  align-items:flex-start; }

.form__wrap{
    width:100%; }

.form__field{
    margin-bottom:20px; }

.form__field.request{
      margin-bottom:0; }

.form__label{
    font-weight:300;
    font-size:12px;
    line-height:1.2;
    display:block;
    margin-bottom:6px; }

.form__label_radio{
      position:relative;
      padding-left:22px;
      cursor:pointer; }

.form__label_radio:before{
        content:"";
        position:absolute;
        left:0;
        top:50%;
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        width:12px;
        height:12px;
        border-radius:50%;
        background-color:#C4C4C4; }

.form__label_radio.form__label_radio_checked:before{
    background-color:#FCA25B; }

.form input[type="radio"]:checked ~ label:before{
    background-color:#FCA25B;
}

/*.form input[type="radio"]:checked + label:before{*/
    /*background-color:#FCA25B; */
/*}*/

.form__valid-text{
    font-size:12px;
    line-height:1.2;
    color:#FF0000;
    padding-top:3px; }

.form__input{
    background-color:#C4C4C4;
    padding:10px 15px;
    height:44px;
    width:100%;
    color:#ffffff;
    font-size:18px;
    border-radius:10px; }

.form__input::-webkit-input-placeholder{
      color:#ffffff;
      font-weight:500;
      font-size:18px; }

.form__input::-ms-input-placeholder{
      color:#ffffff;
      font-weight:500;
      font-size:18px; }

.form__input::placeholder{
      color:#ffffff;
      font-weight:500;
      font-size:18px; }

.form__input:focus{
      background-color:#FCA25B; }

.form__link{
    font-weight:300;
    font-size:12px;
    line-height:1.2;
    color:#000000; }

.form__link:hover{
      text-shadow:2px 2px 4px rgba(0, 0, 0, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25); }

.form__nav{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    margin-bottom:42px; }

.form__footer{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    justify-content:center; }

.stat-form__wrap{
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center; }

.stat-form__input{
  width:292px;
  height:32px;
  background:-webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f7f7f7));
  background:linear-gradient(180deg, #ebebeb 0%, #f7f7f7 100%);
  box-shadow:0px 4px 4px #dfdfdf, -2px -2px 4px rgba(58, 46, 46, 0.25);
  border-radius:40px;
  margin-right:32px;
  font-size:18px;
  line-height:21px;
  color:#686868;
  padding:5px 25px; }

.stat-form__btn{
  -webkit-box-flex:0;
  -webkit-flex:none;
  flex:none;
  position:relative;
  width:32px;
  height:32px;
  background:-webkit-gradient(linear, left top, left bottom, from(#d29869), to(#a4744f));
  background:linear-gradient(#d29869 0%, #a4744f 100%);
  box-shadow:0px 2px 4px #919090, -2px -2px 4px rgba(255, 255, 255, 0.25);
  border-radius:40px; }

.stat-form__btn:hover{
    box-shadow:none; }

.stat-form__btn:after{
    content:url("../images/btn.svg");
    position:absolute;
    top:55%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%); }

.profile-form{
  width:55%; }

.profile-form__wrap{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    width:100%;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between; }

.profile-form__line{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between; }

.profile-form__line .profile-form__line .profile-form__field{
      margin-bottom:0;
      width:-webkit-calc(50% - 5px);
      width:calc(50% - 5px); }

.profile-form__footer{
    width:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -webkit-box-align:end;
    -webkit-align-items:flex-end;
    align-items:flex-end; }

.profile-form__footer .btn-form{
      width:auto;
      margin-bottom:20px; }

.profile-form__field{
    width:-webkit-calc(50% - 22px);
    width:calc(50% - 22px);
    margin-bottom:13px; }

.profile-form__field_full{
      width:100%; }

.profile-form__field_radio{
      width:60%; }

.profile-form__field_btn{
      width:40%; }

.profile-form__label{
    font-weight:400;
    font-size:10px;
    line-height:1.2;
    margin-bottom:6px;
    color:#5F9ABB; }

.profile-form__label_radio{
      color:#000000;
      font-weight:300;
      font-size:9px;
      line-height:1.1;
      margin-bottom:18px; }

.profile-form__input{
    width:100%;
    height:26px;
    padding:4px 12px;
    background:#ffffff;
    border:1px solid #C4C4C4;
    border-radius:3px; }

.profile-form .form{
    width:100%;
    margin-top:20px; }

.avatar{
  width:45%;
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-box-align:start;
  -webkit-align-items:flex-start;
  align-items:flex-start;
  padding-top:110px; }

.grid{
  color:#686868;
  font-size:14px; }

.grid-row{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    width:100%;
    border-bottom:1px solid #ffffff;
    min-height:43px; }

.grid-row:last-child{
      border-bottom:none; }

.grid-item{
    width:70%;
    font-size:14px;
    padding:12px 10px;
    border-right:1px solid #ffffff; }

.grid-item:last-child{
      border-right:none; }

.grid-item.name{
      width:30%;
      color:#5F9ABB;
      text-align:right; }

.grid-item input{
      width:40%;
      padding:4px;
      background-color:#ffffff;
      font-size:12px;
      border:1px solid #C4C4C4;
      box-sizing:border-box;
      border-radius:3px; }

.lk-nav{
  height:100%; }

.lk-nav .logo-wrap{
    margin-bottom:47px; }

.lk-list li{
  width:100%;
  margin-bottom:22px; }

.lk-list a{
  display:block;
  width:100%;
  padding:2px 10px; }

.table{
  border:1px solid #ffffff;
  border-bottom:none;
  color:#686868;
  font-size:14px;
  border-radius:6px; }

.table-head{
    color:#5F9ABB; }

.table-row{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    width:100%;
    border-bottom:1px solid #ffffff;
    min-height:43px; }

.table-row:last-child{
      padding:10px 30px; }

.table-item{
    font-size:14px;
    padding:12px 10px;
    border-right:1px solid #ffffff; }

.table-item button:hover{
      -webkit-transform:scale(1.1);
      -ms-transform:scale(1.1);
      transform:scale(1.1); }

.table-item input{
      width:100%;
      padding:4px;
      background-color:#ffffff;
      font-size:12px;
      border:1px solid #C4C4C4;
      box-sizing:border-box;
      border-radius:3px; }

.table-item:last-child{
      border-right:none; }

.table-item_number{
      text-align:center;
      width:8%; }

.table-item_number.small{
        width:4%;
        padding:7px; }

.table-item_date{
      width:30%; }

.table-item_sender{
      width:32%; }

.table-item_sender.small{
        width:21%; }

.table-item_income{
      width:30%; }

.table-item_income.small{
        width:15%; }

.table-item_check{
      width:12%;
      text-align:center; }

.table-item_check.small{
        width:4%;
        padding:7px; }

.table-item_login{
      width:22%; }

.table-item_name{
      width:26%; }

.table-item_profession{
      width:22%; }

.table-item_action{
      width:10%;
      padding-left:0;
      padding-right:0;
      text-align:center;
      display:-webkit-box;
      display:-webkit-flex;
      display:flex;
      -webkit-justify-content:space-around;
      justify-content:space-around; }

.table-item_action img{
        max-height:16px; }

.table-item_haircut{
      width:25%; }

.table-item_sum{
      width:25%; }

.table-item_entry{
      width:16%; }

.table-item_credit, .table-item_line{
      width:10%;
      text-align:center; }

.table-item_product{
      width:14%; }

.table-item_master{
      width:10%; }

.table-item_user{
      width:38%; }

.table-item_payee, .table-item_level{
      width:15%; }

.table .checkbox-input{
    display:block;
    width:16px;
    height:16px; }

.form-section{
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  min-height:100vh;
  height:100%;
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  justify-content:center;
  padding:50px 0; }

.form-section .container{
    height:100%; }

.lk-section{
  padding-top:36px;
  background-color:#E9E9E9;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  min-height:100vh;
  height:100%;
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  justify-content:center; }

.lk-section .container{
    height:100%; }

.lk-content{
  background-color:#ffffff;
  min-height:100vh;
  padding:10px 30px; }

.board{
  margin-bottom:10px; }

.board_main .board__wrap{
    padding:20px 76px;
    min-height:231px;
    height:100%; }

.board__title{
    font-size:18px;
    line-height:1.5;
    color:#686868;
    padding-left:74px; }

.board__title_withdraw{
      padding:0;
      margin-bottom:18px; }

.board__title.masters{
      padding-left:0;
      padding-right:8px;
      font-size:24px; }

.board__wrap{
    padding:12px 25px;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#d1d1d1));
    background-image:linear-gradient(180deg, #eaeaea 0%, #d1d1d1 100%);
    box-shadow:0px 4px 8px #8a8a8a, -4px -4px 4px rgba(255, 255, 255, 0.25);
    border-radius:40px;
    margin-top:10px; }

.board__wrap_profile{
      display:-webkit-box;
      display:-webkit-flex;
      display:flex;
      width:100%; }

.board__wrap_withdraw{
      padding:33px 68px 33px 38px;
      margin-bottom:26px; }

.board__head{
    background:-webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f7f7f7));
    background:linear-gradient(180deg, #ebebeb 0%, #f7f7f7 100%);
    box-shadow:0px 4px 4px #dfdfdf, -2px -2px 4px rgba(58, 46, 46, 0.25);
    border-radius:40px; }

.board__row{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    padding:4px 49px; }

.board__text{
    font-size:18px;
    line-height:1.2;
    color:#686868;
    text-align:center;
    display:block;
    width:140px; }

.board__count{
    font-size:24px;
    color:#5F9ABB;
    text-align:center;
    display:block;
    width:140px; }

.board_sorting{
    width:40%;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    margin-bottom:30px; }

.board-btns{
    padding:24px 0 24px 74px;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center; }

.board-btns.history{
      padding:0;
      margin-bottom:43px; }

.team{
  height:100%;
  width:100%;
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  justify-content:space-between; }

.team-card{
    width:40%; }

.team-card_wrap{
      display:-webkit-box;
      display:-webkit-flex;
      display:flex;
      background:-webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#d1d1d1));
      background:linear-gradient(180deg, #eaeaea 0%, #d1d1d1 100%);
      box-shadow:0px 4px 8px #8a8a8a, -4px -4px 4px rgba(255, 255, 255, 0.25);
      border-radius:40px; }

.team-card_avatar{
      width:50%;
      padding:40px 0 40px 40px;
      display:-webkit-box;
      display:-webkit-flex;
      display:flex;
      -webkit-box-align:center;
      -webkit-align-items:center;
      align-items:center; }

.team-card_avatar img{
        width:100%;
        max-width:120px; }

.team-card_content{
      width:50%;
      padding:40px 30px 40px 0;
      display:-webkit-box;
      display:-webkit-flex;
      display:flex;
      -webkit-box-align:center;
      -webkit-align-items:center;
      align-items:center; }

.team-card_content_wrap{
        width:100%;
        background:-webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f7f7f7));
        background:linear-gradient(180deg, #ebebeb 0%, #f7f7f7 100%);
        box-shadow:0px 4px 4px #dfdfdf, -2px -2px 4px rgba(58, 46, 46, 0.25);
        border-radius:40px; }

.team-card_content-info{
        padding:16px 19px;
        display:-webkit-box;
        display:-webkit-flex;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
        flex-direction:column;
        line-height:1.2;
        color:#686868; }

.team-card_content-name{
        font-size:18px;
        margin-bottom:8px; }

.team-card_content-text{
        font-size:14px; }

.withdraw-text{
  font-size:13px;
  line-height:1.1;
  color:#686868;
  margin-bottom:20px; }

.withdraw-list{
  margin-bottom:22px; }

.withdraw-list li{
    font-size:13px;
    line-height:1.1;
    color:#686868;
    position:relative; }

.withdraw-list li:before{
      content:"";
      display:block;
      position:absolute;
      top:50%;
      left:-10px;
      -webkit-transform:translateY(-50%);
      -ms-transform:translateY(-50%);
      transform:translateY(-50%);
      width:5px;
      height:5px;
      border-radius:50%;
      background-color:#686868;
      margin-right:5px; }

.withdraw-link{
  font-size:12px;
  line-height:1.2;
  color:#5F9ABB; }

.withdraw-link span{
    color:#ff0000; }

.withdraw-link-link:hover{
    color:#034469;
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease; }

.withdraw-content{
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  justify-content:space-between;
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center; }

.withdraw-balance{
  color:#5F9ABB;
  font-weight:400;
  font-size:24px;
  line-height:1.2; }

.contacts-list{
  margin-bottom:25px; }

.contacts-list li{
    font-size:18px;
    line-height:1.2;
    color:#686868;
    margin-bottom:13px; }



.panel.panel-default {
    background: transparent;
    border-color: transparent;
}

.panel .panel-footer {
    background: transparent;
    border-color: transparent;
}

.panel table tbody tr {
    background: transparent !important;
}

.panel table tbody tr td, .panel table thead tr td {
    border-color: #fff !important;
    padding: 12px 10px;
    font-size: 14px !important;
}

.panel table tbody tr th, .panel table thead tr th {
    border-color: #fff !important;
    padding: 12px 10px;
    font-size: 14px !important;
}

.panel table {
    border: 1px solid #fff !important;
}

.panel table tr td input {
    width: 100% !important;
    padding: 4px !important;
    background-color: #ffffff !important;
    font-size: 12px !important;
    border: 1px solid #C4C4C4 !important;
    box-sizing: border-box !important;
    border-radius: 3px !important;
}

.panel table thead tr th a {
    color: #5F9ABB !important;
    font-weight: 300 !important;
}

.panel table thead tr th a {
    color: #5F9ABB !important;
    font-weight: 300 !important;
}

.panel table thead tr th {
    color: #5F9ABB !important;
    font-weight: 300 !important;
}

.panel table thead tr td input {
    height: 23px !important;
}

.kv-panel-after .btn-danger {
    font-size: 13px;
    font-weight: 300;
    padding: 2px 17px;
    height: 22px;
    background: -webkit-gradient(linear, left top, left bottom, from(#d26969), to(#e12323));
    background: linear-gradient(
            180deg
            , #d26969 0%, #e12323 100%);
    box-shadow: 0px 2px 4px #919090, -2px -2px 4px rgb(255 255 255 / 25%);
    border-radius: 40px;
}

.lk-list .btn-form.primary.active, .lk-list .btn-form.primary.active {
    color: #ffffff;
    background-color: #AA7041;
}